apiVersion: v1
kind: Secret
metadata:
  name: newsgradient-api-credentials
  labels:
    app.kubernetes.io/name: newsgradient-api-credentials
    app: newsgradient-api-credentials
stringData:
  APP_ENV: "production"
  DJANGO_SECRET_KEY: "something-secret-goes-here"
  DJANGO_DATABASE_HOST: "localhost"
  DJANGO_DATABASE_PORT: "5432"
  DJANGO_DATABASE_NAME: "newsgradient-api"
  DJANGO_DATABASE_USERNAME: "parlauser"
  DJANGO_DATABASE_PASSWORD: "parlapassword!"
  DJANGO_STATIC_ROOT: "/static"
  DJANGO_STATIC_URL_BASE: "https://files.newsgradient-api.lb.djnd.si/static"
  DJANGO_MEDIA_ROOT: "/media"
  DJANGO_MEDIA_URL_BASE: "https://files.newsgradient-api.lb.djnd.si/static"
  DJANGO_FRONT_URL: ""
  DJANGO_CACHE_LOCATION: 'redis://cache:6379/1'
  ORIGIN_DOMAIN: https://newsgradient-pwa.lb.djnd.si
  ER_API_KEY: "proprietary :("
  MAUTIC_SECRET: "secret"
  # S3 storage
  DJANGO_ENABLE_S3: "yes"
  DJANGO_AWS_ACCESS_KEY_ID: ""
  DJANGO_AWS_SECRET_ACCESS_KEY: ""


# generate your secret key with
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
